cotracker==3.0
einops==0.8.1
flow_vis==0.1
flow_vis_torch==0.1
gsplat==1.4.0
imageio==2.34.0
jaxtyping==0.3.3
kornia==0.7.2
matplotlib==3.8.3
numpy==2.3.5
opencv_contrib_python==4.11.0.86
opencv_python==4.11.0.86
opencv_python_headless==4.10.0.84
Pillow==12.0.0
piqa==1.3.2
plotly==5.24.1
scikit_learn==1.7.2
scipy==1.16.3
torch==2.5.1
torch_kmeans==0.2.0
torchvision==0.20.1
tqdm==4.65.0
